.search-bar{
    position: absolute;
width: 1287px;
height: 82px;
left: 76px;
top: 404px;

background: #FFFFFF;

box-shadow: 296px 536px 245px rgba(21, 31, 72, 0.01), 167px 302px 207px rgba(21, 31, 72, 0.05), 74px 134px 153px rgba(21, 31, 72, 0.09), 19px 34px 84px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
border-radius: 14px;
}

.group{
    position: absolute;
width: 1264px;
height: 52px;
left: 7px;
top: 15px;
background-color: aliceblue;
}


.arrow{
position: absolute;
width: 36px;
height: 36px;
left: 1220px;
top: 8px;
background: #9747FF;
border-radius: 8px;
}

.icon1{
position: absolute;
left: 27.78%;
right: 27.78%;
top: 30.33%;
bottom: 33.33%;
color:#FFFFFF;
}

.line4{

position: absolute;
width: 27px;
height: 10px;
left: 1223px;
top: 27.5px;
border: 1.2px solid #030000;
transform: rotate(90deg);
}


.list{
    display: flex;
    flex-direction: row;
}
ul li{
    list-style: none;
    margin-top: 12px;
}
 .root{
    margin-left: 210px;
    border-left:1px solid grey ;
}

.icon2{
    margin-right: 5px;
    margin-bottom: 2px;
    margin-left: 5px;
}